<h1>Reservation Info</h1>
<h2> <%= @reservation.user.name %></h2>
<h2> <%= @reservation.room.address %></h2>
<h2> <%= @reservation.start_date %></h2>
<h2> <%= @reservation.end_date %></h2>
<h2> <%= @reservation.price %></h2>
<h2> <%= @reservation.total %></h2>
<a href="/reservations">Back to reservations list</a>